{% extends "framework.html" %}
{% block content %}
    <div class="row col-12">
        <div class="col-1 column"></div>
        <div class="col-2 column">
            <div class="row clearfix">
                <div class="card shadow">
                <div class="container text-center" style="padding-top: 1rem; padding-bottom: 1rem;">
                    <img class="img-fluid rounded" alt="140x140" src="{{ course.Cover_path }}" style="width: 200px; height: 150px">
                </div>
                <div class="dropdown-divider"></div>
                <div class="container-fluid text-left" style="padding-bottom: 1rem;">
                        <a class="btn btn-outline-info btn-block border-0 text-left" href="{{ url_for('course.index', Cno=course.Cno) }}" role="button">
                            <svg width="1em" height="1em" style="margin-bottom: 0px; margin-right: 5px" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                            </svg>
                            <strong>课程简介</strong>
                        </a>
                        <a class="btn btn-outline-info btn-block border-0 text-left" href="{{ url_for('course.course_ware', Cno=course.Cno) }}" role="button">
                            <svg width="1em" height="1em" style="margin-bottom: 0px; margin-right: 5px" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                            </svg>
                            <strong>课件查看</strong>
                        </a>
                        <a class="btn btn-outline-info btn-block border-0 text-left" href="{{ url_for('course.my_assignments', Cno=course.Cno) }}" role="button">
                            <svg width="1em" height="1em" style="margin-bottom: 0px; margin-right: 5px" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                            </svg>
                            <strong>我的作业</strong>
                        </a>
                        <a class="btn btn-outline-info btn-block border-0 text-left active" href="{{ url_for('course.discussion', Cno=course.Cno) }}" role="button">
                            <svg width="1em" height="1em" style="margin-bottom: 0px; margin-right: 5px" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                            </svg>
                            <strong>讨论区</strong>
                        </a>
                        <a class="btn btn-outline-info btn-block border-0 text-left" href="{{ url_for('course.comment', Cno=course.Cno) }}" role="button">
                            <svg width="1em" height="1em" style="margin-bottom: 0px; margin-right: 5px" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                            </svg>
                            <strong>课程评价</strong>
                        </a>
                </div>
            </div>
            </div>
        </div>
        <div class="col-9 column">
            <div class="container border-light shadow" style="padding: 2rem 1rem 2rem 1rem; margin: 0rem">
                <div class="container">
                    <div class="row">
                        <div class="col-8 column">
                            <h1>{{ course.Cname }}课程讨论区</h1>
                        </div>
                        <div class="col-4 column">
                            <a style="float: right" href="{{ url_for('course.new_post', Cno=course.Cno) }}">
                                <img src="/course/static/post.png" style="width: 43px; height: 43px" alt="我要发贴"></a>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider" style="margin-top: 1rem; margin-bottom: 1rem;"></div>
                <div class="container border shadow" style="padding:0rem; margin-top: 1rem;">
                    {% if posts[0] is defined %}
                        <table class="table table-bordered table-hover" style="margin: 0rem;">
                            <thead>
                              <tr class="">
                                <th scope="col">回复数</th>
                                <th scope="col">标题</th>
                                <th scope="col">发帖人</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for post in posts %}
                                    {% if post.isTop == 1 and post.isNew == 1 %}
                                        <tr>
                                            <td scope="row">{{ post.reply_amount }}</td>
                                            <td>
                                                {% if post.poster_identity == '学生' %}
                                                    <img src="/student/static/avatar/identity.png" style="width: 25px; height: 25px" alt="学生">
                                                {% endif %}
                                                {% if post.poster_identity == '教师' %}
                                                    <img src="/teacher/static/avatar/identity.png" style="width: 25px; height: 25px" alt="教师">
                                                {% endif %}
                                                <a href="{{ url_for('course.post_info',post_id=post.Discuss_no, Cno=course.Cno) }}" class="text-reset text-info font-weight-bold">【置顶】{{ post.Discuss_title }}</a>
                                            </td>
                                            {% if post.poster_identity == '学生' %}
                                                <td>{{ post.students[0].Sname }}</td>
                                            {% endif %}
                                            {% if post.poster_identity == '教师' %}
                                                <td>{{ post.teachers[0].Tname }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                {% for post in posts %}
                                    {% if post.isTop == 0 and post.isNew == 1 %}
                                        <tr>
                                            <td scope="row">{{ post.reply_amount }}</td>
                                            <td>
                                                {% if post.poster_identity == '学生' %}
                                                    <img src="/student/static/avatar/identity.png" style="width: 25px; height: 25px" alt="学生">
                                                {% endif %}
                                                {% if post.poster_identity == '教师' %}
                                                    <img src="/teacher/static/avatar/identity.png" style="width: 25px; height: 25px" alt="教师">
                                                {% endif %}
                                                <a href="{{ url_for('course.post_info',post_id=post.Discuss_no, Cno=course.Cno) }}" class="text-reset text-info">{{ post.Discuss_title }}</a>
                                            </td>
                                            {% if post.poster_identity == '学生' %}
                                                <td>{{ post.students[0].Sname }}</td>
                                            {% endif %}
                                            {% if post.poster_identity == '教师' %}
                                                <td>{{ post.teachers[0].Tname }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="container" style="padding: 0rem; margin-top: 2rem;">
                </div>
                    {% else %}
                        <br>
                        <br>
                        <div style="display: flex; align-items: center; justify-content: center;">
                            <h5><strong>该门课程还没人发帖</strong></h5>
                        </div>
                        <br>
                        <br>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}