{% extends "framework.html" %}
{% block content %}
    <div class="row col-12">
        <div class="col-1 column"></div>
        <div class="col-2 column">
            <div class="row clearfix">
                <div class="card shadow">
                                    <div class="container text-center" style="padding-top: 30px">
                                        <img class="img-fluid rounded-circle" alt="140x140" src="{{ teacher.avatar_path }}" style="width: 100px;height: 100px" >
                                    </div>
                                    <div class="card-body text-center">
                                      <img src="/teacher/static/avatar/identity.png" style="width: 30px; height: 30px">
                                        <strong>{{ teacher.Tname }}</strong>
                                        <br>
                                    <div class="dropdown-divider"></div>
                                    <div class="container-fluid text-left">
                                            <a class="btn btn-outline-info btn-block border-0 text-left" href="{{ url_for('teacher.teacher_main') }}" role="button">
                                                <svg width="1em" height="1em" style="margin-bottom: 0px; margin-right: 5px" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                                </svg>
                                                <strong>首页</strong>
                                            </a>
                                            <a class="btn btn-outline-info btn-block border-0 text-left active" href="{{ url_for('teacher.my_courses') }}" role="button">
                                                <svg width="1em" height="1em" style="margin-bottom: 0px; margin-right: 5px" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                                </svg>
                                                <strong>我的课程</strong>
                                            </a>
                                            <a class="btn btn-outline-info btn-block border-0 text-left" href="{{ url_for('teacher.change_pwd') }}" role="button">
                                                <svg width="1em" height="1em" style="margin-bottom: 0px; margin-right: 5px" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                                </svg>
                                                <strong>修改密码</strong>
                                            </a>
                                            <a class="btn btn-outline-info btn-block border-0 text-left" href="{{ url_for('teacher.my_info') }}" role="button">
                                                <svg width="1em" height="1em" style="margin-bottom: 0px; margin-right: 5px" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                                </svg>
                                                <strong>个人信息</strong>
                                            </a>
                                            <a class="btn btn-outline-info btn-block border-0 text-left" href="{{ url_for('teacher.my_files') }}" role="button">
                                                <svg width="1em" height="1em" style="margin-bottom: 0px; margin-right: 5px" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                                </svg>
                                                <strong>我的文件</strong>
                                            </a>
                                    </div>
                                    </div>
                                  </div>
            </div>
        </div>
        <div class="col-9 column">
            <div class="container border shadow" style="padding: 2rem;">
                <form>
                    <div class="form-group row">
                        <label for="courseName" class="col-2 col-form-label">课程名称</label>
                        <div class="col-10">
                            <input type="text" class="form-control" id="courseName" placeholder="请输入课程名称">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="courseCredit" class="col-2 col-form-label">课程学分</label>
                        <div class="col-10">
                            <input type="number" class="form-control" id="courseCredit" placeholder="请输入课程学分">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="courseStartTime" class="col-2 col-form-label">课程预计开始时间</label>
                        <div class="col-10">
                            <input type="date" class="form-control" id="courseStartTime">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="courseTime" class="col-2 col-form-label">课程预计授课时间</label>
                        <div class="col-10">
                            <input class="form-control" id="courseTime">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="courseEndTime" class="col-2 col-form-label">课程预计结束时间</label>
                        <div class="col-10">
                            <input type="date" class="form-control" id="courseEndTime">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="courseIntro" class="col-2 col-form-label">课程简介</label>
                        <div class="col-10">
                            <textarea class="form-control" id="courseIntro" placeholder="请输入课程简介" rows="5" aria-describedby="courseIntroHelp"></textarea>
                            <small id="passwordHelpBlock" class="form-text text-muted">课程简介应在150字以内</small>
                        </div>
                    </div>
                </form>
                <button type="submit" class="btn btn-info">申请</button>
                <a href="#" class="btn btn-secondary">取消</a>
            </div>
        </div>
    </div>

{% endblock content %}