{% extends "framework.html" %}
{% block content %}
    <div class="row col-12">
        <div class="col-3 column"></div>
        <div class="col-6 column" >
            <div class="container" style="margin:auto; position: absolute;top: 0;left: 0;right: 0;bottom: 0;">
                <div class="card justify-content-center text-center rounded-0 shadow bg-light">
                    <div class="card-header">
                        <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #117a8b;font-size: 4vw;"><strong>忘记密码</strong></h1>
                    </div>
                    <div class="container">
                    <div class="card-body">
                        <form action="{{ url_for('index.forget2') }}" method="post">

                            <div class="form-group row">
                                <label for="userid" class="col-3 col-form-label">新的密码：</label>
                                <div class="col-9">
                                    <input type="password" class="form-control" name="newpwd" placeholder="请输入新的密码">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-3 col-form-label">确认密码：</label>
                                <div class="col-9">
                                    <input type="password" class="form-control" name="resurepwd" placeholder="请再次输入密码">
                                </div>
								<div class="col-5"></div><div class="col-5"></div>
                            </div>
                            <button type="submit" class="btn btn-info btn-block">确认</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 column"></div>
    </div>
{% endblock content %}